/.vscode
/jenkins.ps1
/notes.ps1
/params.ps1

#VS Code Files
*.vscode

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
/logs
*.Desktop.ini
/bin/oauth2.txt
/bin/roots.pem
/Enable-ADObjectInheritance .ps1